/*body
{
    background-color: rgb(211, 208, 211);
}*/
body
{
    background-image: url("/images/signinpanel.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
}
.title
{
    width : 100%;
    height: 175px;
    background-color: rgba(224, 218, 222);
}
#image
{
    background-image: url("/images/title.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    width: 60%;
    height: 100%;

}
#image2
{
    background-image: url("/images/title2.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    width: 40%;
    height: 100%;
}
#image, #image2
{
    float:left;
}

#headline h1
{
    padding-left: 8%;
    margin: 0;
    color: #696969;
    text-shadow: 3px -4px 5px #404040;
}
#headline
{

    position: relative;

    width: 100%;
    /*background-color: yellow;*/
    top: 55%;
    bottom: auto;
}
#image2 h4
{
    color: #483D8B;
    /*background-color: yellow;*/
    position: relative;
    top: 80%;
}
#signinpanel, #register
{
    background-color: rgba(197, 195, 121, 0.35);/*The green background color*/

    border-radius: 6px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}





.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  color: #F8F8FF;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {

  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="email"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary
{
    width: 50%;
}
#signinpanel a
{
    color: white;

    margin-left: 20%;

}

#signinpanel a, .btn-primary
{
    display: inline;

}
#loginerror
{
    color: crimson;
}

/*start of homepage */
/*start of userpanel*/
#userpanel
{
    color: #F8F8FF;
    background-color: rgba(197, 195, 121, 0.35);
    margin-top: 20px;
    border-radius: 10px;

}
#userpanel img
{
    width : 40%;
    margin-left: 10px;
    position:relative;
    bottom: 20px;
}
#displaypic, #userinfo
{
    display: inline-block;
}

#userinfo
{

    width: 50%;
    margin-left: 3px;
    position:relative;
    top: 15px;
}
#userinfo form .form-group input[type = "submit"]
{
    width: 47%;
    display:inline-block;
    padding: 5px;
}
#Dp
{
    margin-top: 10px;
    margin-left: 10px;

    width: 60%;

}
#Dp input
{
    margin-top: 10px;
}
#userinfo .checkbox
{
    color: yellow;
    display:inline-block;
    font-size: 70%;
}



/* start of settings */
#settings
{
    width: 100%;
    margin-top: 10px;
    color: #F8F8FF;
    background-color: rgba(197, 195, 121, 0.35);
    border-radius: 10px;
    text-align: center;
}

.col-xs-6
{

}
.form-inline
{
    margin-bottom: 15px;
}



/*TUTORIAL*/
.col-xs-12 h1
{

    color : #F5F5F5	;
}
.col-xs-12
{
    background-color: rgba(197, 195, 121, 0.35);
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
}
.col-xs-12 p, .col-xs-12 h3
{
    color : #F8F8FF;
}
.col-xs-12 ul
{
    color : #F8F8FF;
    text-align: left;
}
#s1, #s6
{
    background-color: yellow;
    width: 100px;

}
#s2, #s7
{
    background-color: red;
    width: 100px;
}
#s3, #s8
{
    background-color: green;
    width: 100px;
}
#s4
{
    background-color: brown;
    width : 75px;
}
#s5
{
    background-color: grey;
    width: 75px;
}
#svid
{
    background-color: black;
    width: 150px;
}





/* START FOR GET PAGE */
#top
{
    width: 25%;
    margin: 0 auto 10px auto;
    text-align: center;
}
/*TEST FOR SHOWING NAME AND DATE IN GET VIEWS*/
.col-xs-4 img
{
    width: 80%;
}
.col-xs-4 p
{
    color: white;
    text-align: left;

}
.col-xs-4 h3
{
    padding: 0;
    padding-top: 10px;
    margin: 0;
    font-size: 100%;
    color: white;
}
#date
{
    font-size: 66%;
}
/*remaining css for get page is in header.php cuz of dynamism */
